.content{
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.country{
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: background-color .2s ease-in-out;
}

.description{
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.countryName{
  font-weight: 800;
  font-size: 18px;
}

.data{
  list-style: none;
}

.dataTopic{
  font-weight: 600;
}

.flag img{
  border-radius: 5px 5px 0 0;
  height: 180px;
  width: 100%;
}


@media only screen and (min-width: 700px) {
  .content{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .country{
    width: 250px;
  }
}