.header{
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 80px;
  padding: 0 20px;
  transition: background-color .2s ease-in-out;
}

.headline{
  font-weight: 800;
}

.button{
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
}

.button:hover{
  cursor: pointer;
}